<div class="flex-margin">
	<div class="align-center">
	<h1>New system</h1>
</div>
	<%= render 'form' %>
<div class="align-center">
	<%= link_to 'Back', client_client_assets_path(@client_asset.client) %>
</div>
</div>
