<div class="container-fluid m-4">
<div class="row m-4"><h3>Editing Todo List</h3></div>

<%= render 'form', todo_list: @todo_list %>

<div class="row m-4"><%= link_to 'Show', @todo_list %> |
<%= link_to 'Back', todo_lists_path %></div>
</div>
</div>
