<div class="col-12">
<h1>Editing Dispatch</h1>

<%= render 'form', dispatch: @dispatch %>

<%= link_to 'Show', @dispatch, class: "btn btn-primary m-2 mb-2", style: "width: 150px" %>
<%= link_to 'Back', dispatches_path, class: "btn btn-primary m-2 mb-2", style: "width: 150px" %>
</div>
