<div class="col-xs-4 col-sm-4 col-md-4">
  <h1>New Dispatch</h1>

  <%= render 'form', dispatch: @dispatch %>
  <div class="m-2">
    <%= link_to 'Back', dispatches_path, class: "btn btn-primary", style: "width: 150px" %>
  </div>
</div>