<p id="notice"><%= notice %></p>

<div class="container-fluid p-4 pdf_body"> 
	
<h3>New Tickets</h3>
<div class="align-center m-1"> <%= link_to 'Download', open_tickets_labtickets_path("", format: :pdf), download: "", class: "btn btn-primary" %> </div>

<table class="table table-sm table table-striped">
  <thead>
    <tr>
	
      <th>Monitor Name</th>
      <th>Billable</th>
     
      
   </tr>
  </thead>
  <tbody>
    <% @results.each do |row| %>
     <tr>
          <td><%= row['Monitor Name'] %></td>
          <td><%= 'YES'' / ' 'NO' %></td>
          
      </tr>
     <% end %>
   </tbody>
</table>	

</div>
