<h1>Editing Labtech Client Other Datum</h1>

<%= render 'form', labtech_client_other_datum: @labtech_client_other_datum %>

<%= link_to 'Show', @labtech_client_other_datum %> |
<%= link_to 'Back', labtech_client_other_data_path %>
