<p id="notice"><%= notice %></p>

<p>
  <strong>Option:</strong>
  <%= @task_option.option %>
</p>

<%= link_to 'Edit', edit_task_option_path(@task_option) %> |
<%= link_to 'Back', task_options_path %>
