<%= form_tag({controller => "contract_services", :action => "merge" }, method: "get") %>

<div class="row align-items-start align-center">
  <form class="form-inline">
     <%= text_field_tag(:primary_id, "", class: 'ml-1 p-2 m-1', style: 'height: 31px')%>
      <%= text_field_tag(:secondary_id, "", class: 'ml-2 p-2 m-1', style: 'height: 31px') %>
      <%= submit_tag "Submit", class: "btn btn-primary form-control ml-3", style: "width: 150px" %> 
  </form>
</div>