<h1>Editing contract_service</h1>

<%= render 'form' %>

<%= link_to 'Show', [@contract_service.client, @contract_service] %> |
<%= link_to 'Back', client_contract_services_path(@contract_service.client) %>
