

<%= simple_form_for(@communication) do |f| %>
  <%= f.error_notification %>
<div class="form-group col-sm-3">
<form class="form-horizontal">
	
 
    <%= f.input :name %>
   
  


    <%= f.button :submit %>
  </div>
  </form>
  
<% end %>
