<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repair_category.name %>
</p>

<%= link_to 'Edit', edit_repair_category_path(@repair_category) %> |
<%= link_to 'Back', repair_categories_path %>
