<div class="col-xs-12 col-md-12">
  <div class="nested-fields">
    <div class="row">
     
      <div class="col-xs-1 col-md-4"><%= f.input :description, label: false %></div>
      <div class="col-xs-1 col-md-2 m-2"><%= f.input :done, label: false %></div>
      <div class="col-xs-1 col-md-2"><%= link_to_remove_association "remove task", f, class: 'btn btn-primary btn-xs' %></div>
    </div>
  </div>
</div>