// Place all the styles related to the TodoLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  width: auto;
  padding-top: 10px;
  height: 50px;
}
.table-row {
  font-size: 20px;
}
