<p id="notice"><%= notice %></p>

<p>
  <strong>Percent complete:</strong>
  <%= @repair.percent_complete %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
